<!DOCTYPE html>
<html lang="es-UY">
<head>
	<meta charset="utf-8">

	<title>Administrador</title>

	<link rel="stylesheet" href="css/admin_login.css">

	<script type="text/javascript" src="js/jQuery.js"></script>
	<script type="text/javascript" src="js/admin_login.js"></script>
</head>
<body>
	<div class="admin-form">
		<input id="usuario" type="text" placeholder="Usuario">
		<input id="clave" type="password" placeholder="Clave">
		<p id="msj-error"></p>
		<button id="btn-iniciar">Iniciar</button>
	</div>
</body>
</html>